body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url('../src/Imagenes/zyro-image\ \(1\).png'); /* Ajusta la ruta según corresponda */
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Esto asegura que la imagen de fondo se mantenga fija */
  color: rgb(255, 255, 255);
}

.cajita {
  background-color: rgba(194, 194, 194, 0); /* Cambia el valor de alfa según tu preferencia */
}

.Botoncitos {
  margin-bottom: 10px;
}
